* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 230, 250);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a{
    text-decoration: none;
    color: black;
}

.nav_menu {
    width: 100%;
    background-color: rgb(133, 0, 0);
    box-shadow: rgb(133, 0, 0) 2px 2px 10px;
    position: fixed;
    top:0;
    left: 0;
}

.nav_menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0.5em 1em;
    list-style: none;
    min-height: 10vh;
}

.nav_menu ul li {
    font-size: 1.2em;
    color: bisque;
}

.nav_menu ul li a {
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
    color: bisque;
}

.nav_menu ul li a:hover {
    background-color: bisque;
    color: rgb(133, 0, 0);
}


.current_page{
    font-weight: bold;
    background-color: rgb(197, 0, 0);
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    padding: 8px;
    background-color: rgb(220, 100, 0);
    font-size: 1.2em;
    border-radius: 20px;
    box-shadow: white 2px 2px 10px;
    border: none;
}

.form > input, label{
    margin: 8px;
    background: rgb(230, 230, 250);
    padding: 8px;
    border-radius: 10px;
    color: rgb(10, 10, 50);
}

.form > input{
    width: 60%;
}
.form > label{
    width: 30%;
}

.title{
    width: 100%;
    text-align: center;
    padding: 8px;
    text-shadow: white 2px 2px;
   
}

.btn{
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 500;
    padding: 8px;
    min-width: 5em;
    color: white;
}

#ok{
    background-color: rgb(50, 200, 50);
}

#cancel{
    background-color: rgb(194, 33, 5);
}

main{
    padding-top: 15vh; 
}

.content_layout{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.content_layout > h3{
    width: 100%;
    text-align: center;
}

.service{
    width: 40%;
    min-height: 150px;
    background-color: rgb(220,100,0);
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 8px;
}

.service > * {
    padding: 2px;
    margin: 16px 0px;
}

.service img{
    width: 90%;
    height: 200px;
    background: white;
    border-radius: 8px;
}
    
.table_model{
  width: 90%;
  background: white;
  border-radius: 10px;
  padding: 6px;
  border-collapse: collapse;
  font-weight: 500;
  color: rgb(20,20,20);  
}

tbody tr:nth-child(even){
    background: rgb(230,230,230);
}

td, tr, th{
    padding: 8px;
    text-align: center;
}

.table_model th{
    background: rgb(133,0,0);
    color: bisque;
}

.btn_link{
    padding: 8px;
    color: rgb(10, 10, 0);
    border-radius: 8px;
    font-weight: 500;
    background: white;
    border: solid rgb(255, 100, 0) 4px;
}